# Top Earners in Movie Industry

## Table of Contents

<ul>
    <li><a href="#intro">Introduction</a></li>
    <li><a href="#eda">Exploratory Data Analysis</a></li>
    <li><a href="#conclusion">Conclusion</a></li>
</ul>

<a id="#intro"></a>
## Introduction

> This analysis project is to be done using the imdb movie data. When the analysis is completed, you should be able to find the top 5 highest grossing directors, the top 5 highest grossing movie genres of all time, comparing the revenue of the highest grossing movies and which companies released the most movies. 

> There are 10 columns that will not be needed for the analysis. Use pandas to drop these columns. HINT: Only the columns pertaining to revenue will be needed.

> To get you started, I've already placed the needed code for getting the packages and datafile that you will be using for the project.

In [9]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('files/imdb-movies.csv')
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

###This would be known as Data Cleaning!

### Drop columns without neccesary information and remove all records with no financial information -- Pay close attention to things that don't tell you anything regarding financial data

In [8]:
#needed = [df['id'], df['budget'], df['revenue'], df['original_title'], df['director'], df['genres'], df['production_companies'], df['budget_adj'], df['revenue_adj']]
id = df['id']
budget = df['budget']
revenue = df['revenue']
original_title = df['original_title']
director = df['director']
genres = df['genres']
production_companies = df['production_companies']
budget_adj = df['budget_adj']
revenue_adj = df['revenue_adj']

imdb_go = {'id': id, 'budget': budget, 'revenue': revenue, 'original_title': original_title, 'director': director, 'genres': genres, 'production_companies': production_companies, 'budget_adj': budget_adj, 'revenue_adj': revenue_adj}
imdb = pd.DataFrame.from_dict(imdb_go)
imdb.dtypes
# imdb.groupby('director', as_index = False).head()

KeyError: 'id'

In [11]:
#joels' version of data cleaning
df.drop(df.query('budget==0 or revenue == 0').index , inplace=True)
df.drop(['id', 'popularity', 'imdb_id', 'homepage', 'budget', 'runtime', 'tagline', 'keywords', 'vote_count', 'vote_average', 'release_date', 'budget_adj', 'overview'], axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,revenue,original_title,cast,director,genres,production_companies,release_year,revenue_adj
0,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015,1.392446e+09
1,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015,3.481613e+08
2,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015,2.716190e+08
3,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015,1.902723e+09
4,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015,1.385749e+09

In [12]:
#separating out production companies on the pipe
production_records = df[df.production_companies.str.contains('|')]
production_records.production_companies = production_records.production_companies.apply(lambda x: x.split("|"))
production_records

df_pc = pd.DataFrame(columns = df.columns)
    for i in range(len(production_records)):
        record = production_records.iloc[i] #returns all data for every single record with abiility to access columns
        for production_company in production_records.production_companies[i]: #loops through all prod compannies in each record
            df_pc = df_pc.append(pd.DataFrame([record.revenue, record.original_title, record.cast, record.director, record.genres, production_company, record.release_year, record.revenue_adj], columns = df.columns))

df_pc.drop('genres', axis=1, inplace=True)
df_pc.reset_index(drop=True, inplace=True)

df_pc.head()

ValueError: cannot index with vector containing NA / NaN values

### Data Cleaning

In [104]:
# Delete all records with null, or empty values
# imdb['budget'].replace('0', np.nan, inplace=True)
# imdb.dropna(subset=['budget'], inplace=True)
# imdb['revenue'].replace('0', np.nan, inplace=True)
# imdb.dropna(subset=['revenue'], inplace=True)
# imdb['original_title'].replace('', np.nan, inplace=True)
# imdb.dropna(subset=['original_title'], inplace=True)
# imdb['director'].replace('', np.nan, inplace=True)
# imdb.dropna(subset=['director'], inplace=True)
# imdb['genres'].replace('', np.nan, inplace=True)
# imdb.dropna(subset=['genres'], inplace=True)
# imdb['production_companies'].replace('', np.nan, inplace=True)
# imdb.dropna(subset=['production_companies'], inplace=True)
# imdb['budget_adj'].replace('', np.nan, inplace=True)
# imdb.dropna(subset=['budget_adj'], inplace=True)
# imdb['revenue_adj'].replace('', np.nan, inplace=True)
# imdb.dropna(subset=['revenue_adj'], inplace=True)
imdb.dropna(inplace=True)
imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9807 entries, 0 to 10865
Data columns (total 9 columns):
id                      9807 non-null int64
budget                  9807 non-null int64
revenue                 9807 non-null int64
original_title          9807 non-null object
director                9807 non-null object
genres                  9807 non-null object
production_companies    9807 non-null object
budget_adj              9807 non-null float64
revenue_adj             9807 non-null float64
dtypes: float64(2), int64(3), object(4)
memory usage: 766.2+ KB

#### Here's a helpful hint from my own analysis when I ran this the first time. This may help shed light on what your data set should look like.

#### If I created one record for each the `production_companies` a movie was release under and one record each for `genres`<br>and tried to run calculations, it wouldn't work because for many records, the amount of `production_companies`<br>and `genres` aren't the same, so I'll create 2 dataframes; one w/o a `production_companies` column and one w/o a `genres` columns

<a id="eda"></a>
## Exploratory Data Analysis

> Use Matplotlib to display your data analysis

### Which production companies released the most movies in the last 10 years? Display the top 5 production companies.

In [130]:
prods = imdb.groupby(['production_companies', 'id'])
prods.count().tail()

,,budget,revenue,original_title,director,genres,budget_adj,revenue_adj
production_companies,id,,,,,,,
thinkfilm|Starz Entertainment|Candy Heart Productions,50787,1,1,1,1,1,1,1
uFilm|Informant Media|Entertainment Motion Pictures|Umedia|uFund,106021,1,1,1,1,1,1,1
uFilm|Le Tax Shelter du Gouvernement FÃ©dÃ©ral de Belgique|Entertainment Motion Pictures|Umedia|HCC Media Group,14687,1,1,1,1,1,1,1
uFilm|nWave Pictures|Illuminata Pictures,13956,1,1,1,1,1,1,1
í”„ë¡œë•ì…˜M,26138,1,1,1,1,1,1,1

### What 5 movie genres grossed the highest all-time?

In [158]:
gross = imdb.groupby(['genres', 'revenue_adj'])
gross.sum().sort_values('revenue_adj').tail()

,,id,budget,revenue,budget_adj
genres,revenue_adj,,,,
Horror|Thriller|Adventure,1.907006e+09,578,7000000,470654000,2.836275e+07
Drama|Horror|Thriller,2.167325e+09,9552,8000000,441306145,3.928928e+07
Drama|Romance|Thriller,2.506406e+09,597,200000000,1845034188,2.716921e+08
Adventure|Action|Science Fiction,2.789712e+09,11,11000000,775398007,3.957559e+07
Action|Adventure|Fantasy|Science Fiction,2.827124e+09,19995,237000000,2781505847,2.408869e+08

### Who are the top 5 grossing directors?

In [134]:
directs = imdb.groupby(['revenue_adj', 'director'])
directs.sum().tail(6)
#looks like james cameron, george lucas, james cameron, william
#friedkin, steven spielberg, jj abrams
#joel says this is right

                                   id     budget     revenue    budget_adj
revenue_adj  director
1.902723e+09 J.J. Abrams       140607  200000000  2068178225  1.839999e+08
1.907006e+09 Steven Spielberg     578    7000000   470654000  2.836275e+07
2.167325e+09 William Friedkin    9552    8000000   441306145  3.928928e+07
2.506406e+09 James Cameron        597  200000000  1845034188  2.716921e+08
2.789712e+09 George Lucas          11   11000000   775398007  3.957559e+07
2.827124e+09 James Cameron      19995  237000000  2781505847  2.408869e+08

### Compare the revenue of the highest grossing movies of all time.

In [143]:
high = imdb.groupby(['revenue_adj', 'original_title'])
high.count().tail()
#uhh i think it's avatar, star wars, titanic, exorcist, jaws

,,id,budget,revenue,director,genres,production_companies,budget_adj
revenue_adj,original_title,,,,,,,
1.907006e+09,Jaws,1,1,1,1,1,1,1
2.167325e+09,The Exorcist,1,1,1,1,1,1,1
2.506406e+09,Titanic,1,1,1,1,1,1,1
2.789712e+09,Star Wars,1,1,1,1,1,1,1
2.827124e+09,Avatar,1,1,1,1,1,1,1

<a id="conclusions"></a>
## Conclusions

> Using the cell below, write a brief conclusion of what you have found from the anaylsis of the data. The Cell below will allow you to write plan text instead of code.